<h4 style="color: var(--codecircus-primary);">Scegli la categoria da dove iniziare</h4>
<div class="d-flex justify-content-between align-items-center pb-3">
    <h2>Categorie Principali</h2>
    <button type="button" class="btn btn-success text-uppercase">
        Guarda tutto
    </button>
</div>
<div class="row row-cols-1 row-cols-lg-3">
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
    <div class="col">
        <div class="card">a</div>
    </div>
</div>