<app-header></app-header>

<main class="main">

  <app-jumbotron></app-jumbotron>

  <div class="container py-5">

    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col" style="background-color: var(--codecircus-secondary); height: 500px;"></div>
      <div class="col" style="background-color: var(--codecircus-secondary); height: 500px;"></div>
    </div>

    <app-category></app-category>

    <app-courses></app-courses>

  </div>

  <app-reviews></app-reviews>

  <div class="container">
    <div class="teachers text-center py-5">
      <h4>Stalkera gli insegnanti</h4>
      <h2>I nostri insegnanti</h2>

      <div class="row row-cols-lg-5 g-3">
        <div class="col">a</div>
        <div class="col">a</div>
        <div class="col">a</div>
        <div class="col">a</div>
        <div class="col">a</div>
      </div>
    </div>

    <div class="values text-center py-5">
      <h4>Valori aggiunti</h4>
      <h2>I nostri corsi piacciono perche</h2>

      <div class="row row-cols-lg-2">
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="d-flex values">
    <div class="left d-flex flex-column" style="width: 45%;">
      <div class="card">a</div>
      <div class="card">a</div>
      <div class="card">a</div>
    </div>

    <div class="center d-flex flex-column" style="width: 10%;">

    </div>

    <div class="right d-flex flex-column" style="width: 45%;">
      <div class="card">a</div>
      <div class="card">a</div>
      <div class="card">a</div>
    </div>
  </div>

  <div class="newsletter py-5">
    <div class="container d-flex align-items-center">
      <div class="title w-50">
        <h2>Iscriviti e ottieni il 20% di sconto Sul tuo primo corso online</h2>
        <h4>Iscriviti alla newsletter e non perdere mai un offerta</h4>
      </div>
      <div class="buttons w-50 d-flex flex-column gap-3">
        <button type="button" class="btn btn-light rounded-5 py-2">lascia la tua email*</button>
        <button type="button" class="btn btn_primary text-uppercase rounded-5 py-2">Registrati</button>
      </div>
    </div>
  </div>


</main>

<app-footer></app-footer>



<router-outlet />